[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tabulate = "*"
colorama = "*"
"lz4" = "*"
requests = "*"


[dev-packages]

pytest = "*"
codecov = "*"
pytest-cov = "*"
pylint = "*"
