[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

colorama = "*"
"lz4" = "*"
requests = "*"
attrs = ">=17.4"
"flake8" = "*"


[dev-packages]

pytest = "*"
codecov = "*"
pytest-cov = "*"
pylint = "*"
